          <!-- Email input -->
          <div class="form-outline mb-4">
            <input type="email" id="email" name="email" class="form-control" required/>
            <label class="form-label" for="email">Email</label>
          </div>

          <!-- Password input -->
          <div class="form-outline mb-4">
            <input type="password" id="password" name="password" class="form-control" required/>
            <label class="form-label" for="password">Lozinka</label>
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-dark btn-block">Prijavi se</button>
